<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>二货网|个人中心</title>
    </head>
    <body>
        <div class="left_main">
            <a href="{:U('Home/Person/index')}"><h4 style="display:block;height:30px; line-height:30px;margin:10px;"><img src="__PUBLIC__/Home_images/user.png" width="15px" style="vertical-align:middle;padding-right:10px;">个人中心</h4></a>
            <div class="list">
                <ul>
                    <li><a href="{:U('Home/Person/products')}">发布闲置</a></li>
                    <li><a href="{:U('Home/Person/my_products')}">我的闲置</a></li>
                    <li><a href="{:U('Home/Person/address')}">地址管理</a></li>
                    <li><a href="{:U('Home/Person/myorders')}">我的订单</a></li>
                    <li><a href="{:U('Home/Person/collect')}">收藏夹</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>