<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$title}</title>
	<load href="__PUBLIC__/js/jquery-2.1.3.min.js"/>
	<load href="__PUBLIC__/css/bootstrap.min.css" />
	<load href="__PUBLIC__/js/bootstrap.min.js"/>
</head>
<body>
<div style="width: 500px;margin-left: 10px;">
	<form role="form" action="{:U('Admin/Homepictures/doedit')}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="id" value="{$id}">
		<div class="form-group">
			<label for="exampleInputEmail1">广告表题<span style="color:red; font-size: 16px;">   *   </span></label>
			<input type="text" class="form-control" value="{$title}" name="title" id="exampleInputEmail1" placeholder="请输入广告标题">			
		</div>
		
		<div class="form-group">
			<label for="exampleInputPassword1">跳转地址</label>
			<div class="input-group">
				<span class="input-group-addon" style="font-size: 18px;">http://</span>
				<input type="text" class="form-control" name="piclink" value="{$piclink}" id="exampleInputPassword1" placeholder="请输入跳转url">
			</div>
		</div>
		<div class="form-group">
			<label for="exampleInputFile">上传广告图片</label>
			<input type="file" id="exampleInputFile" name="pic">
		</div>
		<button type="submit" class="btn btn-success">提交</button>
	</form>
</div>
</body>
</html>