<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$title}</title>	
	<load href="__PUBLIC__/js/jquery-2.1.3.min.js"/>
	<load href="__PUBLIC__/css/bootstrap.min.css" />
	<load href="__PUBLIC__/js/bootstrap.min.js"/>
</head>
<body>
	<table class="table table-striped table-hover">
		<tr>
			<th>id</th>
			<th>登录账号</th>
			<th>用户姓名</th>
			<th>性别</th>
			<th>出生年月</th>
			<th>email</th>
			<th>电话</th>
			<th>状态</th>
			<th>积分</th>
			<th>操作</th>
		</tr>
		
		<foreach name="list" item="val" key="key">			
			<tr>
				<td>{$val['id']}</td>
				<td>{$val['username']}</td>
				<td>{$val['realname']}</td>
				<td>{$val['sex']}</td>
				<td>{$val['birth']}</td>
				<td>{$val['email']}</td>
				<td>{$val['phone']}</td>
				<td>
					<a href="{:U('Admin/Users/index',['id' => $val['id'] , 'status' => '1' ])}" class="btn btn-danger btn-xs {$val['status']=='启用'?'disabled':''}" role="button">启用</a>
					<a href="{:U('Admin/Users/index',['id' => $val['id'] , 'status' => '2' ])}" class="btn btn-danger btn-xs {$val['status']=='失效'?'disabled':''}" role="button">失效</a>
				</td>
				<td>{$val['secord']}</td>
				<td><a href="{:U('Admin/Users/del',['id' => $val['id'] ])}" onclick="delcfm()">删除</a>|<a href="{:U('Admin/Users/edit',['id' => $val['id'] ])}">修改</a></td>
			</tr>
		</foreach>
	</table>
	<div>{$time}</div>
	<div class="btnBox">{$show}</div>
</body>
<script>
	$('.btnBox').children().children().unwrap().wrap('<li></li>').parent().wrapAll('<ul class="pagination"></ul>');
	// 给当前页码高亮显示
	$('.btnBox span').parent().addClass('active');

	// 确认删除弹窗
	function delcfm() {
        if (!confirm("确认要删除？")) {
            window.event.returnValue = false;
        }
    }
    

</script>
</html>